---
import { getCollection } from "astro:content";

const allProjects = await getCollection('projects');

const allTags = allProjects.map((tag) => tag.data.tags).flat();
const processedTags = allTags.reduce((acc, tag) => {
  const value = acc[tag] || 0;
  const pTags = {
    ...acc,
    [tag]: value + 1,
  };

  return pTags;
}, {});

const { activeTag } = Astro.props;
---
		<ul>
			{ Object.entries(processedTags).map(([key, val])=>
			<li>

			{activeTag && activeTag === key ? 
				<a class="tag active" href="/#tags">{`${key} (${val})`}</a> :
				<a class="tag" href={`/tags/${key}`}>{`${key} (${val})`}</a>
			}
			</li>
				)}
		</ul>
	</div>

<style>

	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		gap: var(--length-m);
		flex-wrap: wrap;

	}

	.tag{
		font-family: monospace;
		display: block;
		background-color: var(--color-text);
		color: var(--color-surface);
		text-decoration: none;
		padding:var(--length-s) var(--length-m);
		border-radius: .2em;
	}

	.tag.active{
		background-color: var(--color-accent);
	}


</style>